body {
    min-width: 500px;
    display: flex;
    flex-direction: column;
}
.audible-tab {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-bar {
    margin-top: 8px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button + button {
    margin-left: 1rem;
}

progress {
    width: 85%;
}
